<%= form_for(:session, :url => sessions_path, :html => {:class => "login_form"}) do |session| %>
<h4>Already a member? Sign in</h4>
<%= session.label :email %>
<%= session.text_field :email %>
<%= session.submit "Sign in" %>
<p><%= "Just get an invite? " %><%= link_to "Sign up here", signup_path %></p>
<p><%= flash[:error] %></p>
<% end %>

