<%= form_for(:session, :url => sessions_path, :html => {:class => "login_form"}) do |session| %>
<h4>Already a member? Sign in</h4>
<%= session.label :email %>
<%= session.text_field :email %>
<%= session.submit "Sign in" %>
<% end %>
<%= flash[:error] %>