<%= form_for @motion do |motion| %>
<%= render 'layouts/error_messages', :object => motion.object %>
<ul>
	<li>
<p><%= motion.label :title %></p>
<p><%= motion.text_field :title, :placeholder => MOTION_TITLE_EXPLAIN %>
<div id = "title_char_max"><%= "Maximum characters: #{TITLE_CHAR_MAX}" %></div>
</p>
</li>
<li><p><%= motion.label :details %></p>
<p><%= motion.text_area :details, :placeholder => MOTION_DETAILS_EXPLAIN, :size => '50x10' %>
<div id = "details_char_max"><%= "Maximum characters: #{DETAILS_CHAR_MAX}" %></div>
</p>
</li>
<li>
<p><%= motion.label :threshold %>
	<%= motion.select(:threshold, (DEFAULT_THRESHOLD..(account_users_count)).step(5))%>
	<div id = "threshold_explain"><%= "Your community has #{account_users_count} users. How many should join your motion before the e-mail is sent?" %></div>
</p></li>
<li>
<p><%= motion.submit "Create" %></p></li>
</ul>
<% end %>
