<tr class = "motion_row">	
	<% if @current_user.account.has_active_motion %>
	<% if @current_user.current_motion %>
	<%= render 'motions/button/cancel' %>
	<% else %>
	<%= render 'motions/button/join' %>
	<% end %>	
<% else %>
<%= render 'motions/button/create' %>
<% end %>
</tr>
<tr >
	<td class = "joiners" threshold = "<%= @motion.threshold %>">
	<% if @motion.new_record? %>
	<%= "Start a motion notice now" %>
	<% else %>
	<%= pluralize(@motion.users.count, "member") + " has joined" %>
	<% end %>
</td>
<td></td>
</tr>

