<div id = "about">
<h3 id = "about_title"><%= @user.name %></h3>
<p><%= "Member at #{@user.account.name}" %></p>
<p><%= "On Agora  since #{@user.created_at.strftime('%A %B %d %Y')}" %></p>
<p><%= "Created "+ pluralize(@user.created_motions.count, "motion") %></p>
<p><%= "Joined "+ pluralize(@user.motions.count, "motion") %></p>
</div>