<div class = 'motion' >
	<div class = "top_row">
		<div class = 'title'><%= motion.title %></div>
		<div class = 'voter_count'><%= pluralize(rand(3..10), "voter") %></div>
	</div>
	<div class = "details">
		<%= motion.details %>

	</div>
	<div class = "bottom_row">
		<div class = 'created_at'><%= Time.now.strftime("%A %B %d %Y") %></div>
		<div class = "expires_at">
			<%= "Expires in #{distance_of_time_in_words(Time.now, Time.now.since(1.hour))}" %>
		</div>
		<div class = 'threshold'><%= "Threshold #{rand(5..25)}" %></div>
	</div>

</div>