<tr class = "noise_row">	
	<% if @current_user.account.has_active_noise %>
	<% if @current_user.current_noise %>
	<%= render 'noises/button/cancel' %>
	<% else %>
	<%= render 'noises/button/join' %>
	<% end %>	
<% else %>
<%= render 'noises/button/create' %>
<% end %>
</tr>
<tr >
	<td class = "joiners" threshold = "<%= @noise.threshold %>">
	<% if @noise.new_record? %>
	<%= "Start a noise notice now" %>
	<% else %>
	<%= pluralize(@noise.users.count, "member") + " has joined" %>
	<% end %>
</td>
<td></td>
</tr>

