<div class = "email_body" style = "p{line-height:150%}">
<p class = "email_intro_header" style = "font-weight: bold">
	This is a motion from Agora
</p>
<div class = "email_intro">
	<p><%= "#{pluralize(@motion.users.count, "member")} of #{@motion.account.name} voted for this motion" %>
	</p>
</div>
<p class = "email_motion_content" style = 'font-weight:bold'><%= "\"#{@motion.title}\"" %></p>
<p><%= "\"#{@motion.details}\"" %></p>
<p style = 'font-style: italic;'><%= "#{@motion.created_at.strftime("Created on %A %B %d")}" %></p>
<p style = 'font-style: italic;'><%= "#{@motion.expires_at.strftime("Expired on %A %B %d at %H:%M")}" %></p>
<p style = 'font-style: italic;'><%= "Created by #{@motion.creator.name}" %></p>
<p></p>
<%= link_to "Get your voice heard: start a new motion now.",  FULL_ROOT_URL, :class => "email_start_motion" %>
</div>


