	<div class = "header">
	<nav class = "header_left">
		
		<%# link_to "for #{@account.name}", root_path, {:id => "account_name_header"} %>
		<%= render 'layouts/account_change_form' %>
	</nav>
	<nav class = "header_right">
	<%= link_to "Start a motion", new_motion_path, :id => "new_motion" %>
	<%= link_to "Invite", new_invitation_path, :id => "new_invite" %>
	<% if @current_user.admin? %>
	<%= link_to 'Admin', @account %>
	<% end %>
	<%= link_to @current_user.name, @current_user %>
	<%= link_to "Log out", logout_path %>
</nav>
	</div>
	<% if flash[:notice] %>
<%= render "layouts/flash_notice" %>
<% end %>

