<!DOCTYPE html>
<html>
<head>
	<title>Agora</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
<% if session[:user_id] %>
	<%= render 'layouts/header' %>
	<div class = "container">
	<%= render 'layouts/user_bar' %>
	<div id = "page_content">
		<%= render 'motions/new_motion_package' %>
		<%= yield %>
	</div>
</div>

<% else %>
	<%= yield %>
<% end %>
</body>
</html>
