<%= form_tag(email_members_account_path(@account), :method => :post) do %>
<p>
	<%= label_tag("Subject") %>
	<%= text_field_tag(:subject) %>
</p>
<p>
	<%= label_tag("Body") %>
	<%= text_area_tag(:text, "", :size => "50x20") %>
</p>
<%= submit_tag("Send E-mail") %>
<% end %>